@using Microsoft.AspNetCore.Components.Authorization
@using Blazorise.Snackbar
@using Blazorise.Themes

<CascadingAuthenticationState>
    <ThemeProvider Theme="@theme">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        <Snackbar IsOpen="true" Message="Please wait a moment..." BackgroundColor="Color.Info" />
                    </Authorizing>
                    </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>   
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <Jumbotron Background="Background.Danger" Class="container w-64 sm:w-96 mx-auto mt-4 rounded-4">
                        <JumbotronTitle Size="JumbotronTitleSize.Is4">Not Found!</JumbotronTitle>
                        <JumbotronSubtitle>Sorry, there's nothing at this address.</JumbotronSubtitle>
                        <Button Color="Color.Primary" Type="ButtonType.Link" To="/">Go Back Home?</Button>
                    </Jumbotron>
                </LayoutView>
            </NotFound>
        </Router>
    </ThemeProvider>
    <ToastProvider />
</CascadingAuthenticationState>

@code {
    [Inject] IPageProgressService? PageProgressService { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetPageProgress25();
        }
    }

    private Task SetPageProgress25()
    {
        return PageProgressService!.Go(25, options => { options.Color = Color.Warning; });
    }

    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = "21a6c4",
            Secondary = "7a3733",
            Light = "cfe2e9",
            Dark = "151e21",
        },
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Primary = "21a6c4",
            Secondary = "7a3733",
            Light = "cfe2e9",
            Dark = "151e21",
        },
        BarOptions = new ThemeBarOptions
        {
            DarkColors = new ThemeBarColorOptions
            {
                DropdownColorOptions = new ThemeBarDropdownColorOptions
                {
                    BackgroundColor = "#0a1215"
                }
            }
        },

        IsRounded = true,
    };
}