<Modal @ref="stateDialog" @bind-Visible="IsVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@Title State</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field Model="State" OnSubmit="@SaveChanges">
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <AddonLabel>ID</AddonLabel>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="@State.Id.ToString()" Disabled></TextEdit>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Heading TextSize="TextSize.Medium" Class="mb-2">State</Heading>
                    <TextEdit Placeholder="Enter name..." @bind-Text="State.Name" />
                </Field>
                <Field>
                    <Heading TextSize="TextSize.Medium" Class="mb-2">Select City</Heading>
                    @if (State.City != null)
                    {
                        ChangeSelectedCity(GetCityNameByID(State.CityId));
                        <DropdownList TItem="City" TValue="int"
                                      Data="@Cities"
                                      TextField="@((item)=>item.Name)"
                                      ValueField="@((item)=>item.Id)"
                                      Color="Color.Primary"
                                      MaxMenuHeight="200px"
                                      SelectedValueChanged="OnValueChange">
                            @if (!string.IsNullOrEmpty(selectedCity))
                            {
                                <Span>@selectedCity</Span>
                            }
                            else
                            {
                                <Span>Select</Span>
                            }
                        </DropdownList>
                    }
                    else
                    {
                        <DropdownList TItem="City" TValue="int"
                                      Data="@Cities"
                                      TextField="@((item)=>item.Name)"
                                      ValueField="@((item)=>item.Id)"
                                      Color="Color.Primary"
                                      MaxMenuHeight="200px"
                                      SelectedValueChanged="OnValueChange">
                            @if (!string.IsNullOrEmpty(selectedCity))
                            {
                                <Span>@selectedCity</Span>
                            }
                            else
                            {
                                <Span>Select</Span>
                            }
                        </DropdownList>
                    }

                </Field>
            </Field>
        </ModalBody>
        <ModalFooter Class="justify-end">
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Type="ButtonType.Submit" Clicked="@SaveChanges">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@code {
    [Inject] IToastService? ToastService { get; set; }

    [Parameter] public State State { get; set; } = new();
    [Parameter] public List<City> Cities { get; set; } = new();
    [Parameter] public EventCallback<State> HandleSaveOperationEvent { get; set; }

    public bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";
    string selectedCity { get; set; } = "";

    public void OpenDialog()
    {
        IsVisible = true;
        ShowModal();
        StateHasChanged();
    }

    public async Task SaveChanges()
    {
        if (string.IsNullOrEmpty(State.Name) || State.CityId <= 0)
            await ToastService!.Error("State name is required", "Missing Field");
        else if (string.IsNullOrEmpty(State.CityId.ToString()))
            await ToastService!.Error("City is required", "Missing Field");
        else
        {
            IsVisible = false;
            await HandleSaveOperationEvent.InvokeAsync(State);
            await ToastService!.Success("State added successfully", "Saved Changes");
        }
    }

    public void ChangeTitle(string title)
    {
        Title = title;
    }

    public void ChangeSelectedCity(string selected)
    {
        selectedCity = selected;
    }

    // reference to the modal component
    private Modal? stateDialog;

    private Task ShowModal()
    {
        return stateDialog!.Show();
    }

    private Task HideModal()
    {
        IsVisible = false;
        return stateDialog!.Hide();
    }

    private string GetCityNameByID(int id)
    {
        return Cities.FirstOrDefault(x => x.Id == id)?.Name!;
    }

    public void OnValueChange(int value)
    {
        State.CityId = value;
        ChangeSelectedCity(GetCityNameByID(State.CityId));
        Console.WriteLine("id:" + State.CityId);
        StateHasChanged();
    }
}